<div class="jumbotron">
    <div class="container">
        <h1>Job Board</h1>
        <p>This is a full stack project built on ASP.Net Core(on Linux) + Angular2 + Python. It automatically retrieves Canadian job opportunities from several websites, analyze the requirement description, extract required competencies and level of experience, display the results in a "car comparison" way</p>
        <p><a class="btn btn-primary btn-lg" [routerLink]="['/jobs']" role="button">Job Board</a></p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/CG0323/jobboard" role="button">Github &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>jobboard.scraper</h2>
            <p>A python scraper deployed on AWS EC2 (Linux). It regurlarly fetch recruiting information (using key words 'software developer') from several Canadien recruitment website, such as Monster.ca, Neuvoo.ca, Workopolis.ca It then sends the raw information
                to jobboard.backend. </p>
        </div>
        <div class="col-md-3">
            <h2>jobboard.backend</h2>
            <p>A RESTful data service built with ASP.NET Core + EntityFramework Core + MySql, deployed on AliCloud CentOs 7 instance. It serve as the data persistance service for jobboard.scraper and the backend for jobboard.frontend. </p>
        </div>
        <div class="col-md-3">
            <h2>jobboard.frontend</h2>
            <p>Angular2 single page application, deployed on Nginx. Users can view the latest job opportunities in a "Car Comparison" way, quickly view the required competencies before openning the detailed job page. Skill columns are customizable. Users
                can also add/edit skill detecting rules.</p>
        </div>
        <div class="col-md-3">
            <h2>jobboard.analyzer</h2>
            <p>A python flask lighweight web service. It acts as a background worker which analyzes the raw recruitment description, analyze required skills as well as the level of skills.Everytime a new recruiting post is sent to the backend, the analyze
                service will be triggered to process the text, extract desired information from unstructured text and save the result into MySql data tables.</p>
        </div>
        <img class="aligncenter" src="assets/img/system-design.png">
    </div>

    <hr>

    <footer>
        <p>&copy; CG 2017</p>
    </footer>
</div>